day08_xml/src/cn/xml/p1_dtd/student.dtd

<!ELEMENT students (student*) >  <!-- 定义标签，里面放student  *代表无数次-->
<!ELEMENT student (name,age,sex)> <!-- student里面可以存放，name age sex一次，并规定顺序 -->
<!ELEMENT name (#PCDATA)>  <!--name标签里面存放的是字符串 -->
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ATTLIST student number ID #REQUIRED> <!--student标签属性，必须是数字，required必须出现-->